/* Estilização geral do container da biblioteca */
.library-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, #a4dbf6, #91c7f4);
    padding: 20px;
    border-radius: 10px;
    color: white;
  }
  
  /* Seções da biblioteca e do clube do livro */
  .section {
    background-color: #52a3e2;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Estilização das capas dos livros */
  .books {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .book-cover {
    width: 60px;
    height: 80px;
    background-color: #f469c7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    border-radius: 5px;
  }
  
  /* Estilização da seção do clube do livro */
  .club-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .club-book {
    flex: 1;
    text-align: left;
  }
  
  .club-members {
    flex: 2;
    text-align: left;
  }
  
  .club-members ul {
    list-style: none;
    padding: 0;
  }
  
  .club-members li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .member1 {
    background-color: #38b6ff;
  }
  
  .member2 {
    background-color: #ff4f4f;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .section {
      width: 90%;
    }
  
    .books {
      flex-direction: column;
    }
  
    .book-cover {
      margin-bottom: 10px;
      width: 50px;
      height: 70px;
    }
  
    .club-info {
      flex-direction: column;
    }
  
    .club-book, .club-members {
      text-align: center;
    }
  
    .club-members li {
      justify-content: center;
    }
  }
  
  @media (max-width: 480px) {
    .book-cover {
      width: 50px;
      height: 70px;
    }
  
    .icon {
      width: 15px;
      height: 15px;
    }
  }
  