/* Estilização geral do container da biblioteca */
.libraryContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom right, #a4dbf6, #91c7f4);
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.libraryContainer * {
  color: white;
}

/* Seções da biblioteca e do clube do livro */
.section {
  background-color: #52a3e2;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}

/* Estilização das capas dos livros */
.books {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.containerBook {
  width: 100px;
}

.nomeClub {
  word-wrap: break-word;
  max-width: 100%;
}

.bookCover {
  width: 100px;
  height: 150px;
  background-color: #f469c7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  border-radius: 5px;
}

/* Estilização da seção do clube do livro */
.clubInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.clubBook {
  flex: 1;
  text-align: left;
}

.clubMembers {
  flex: 2;
  text-align: left;
}

.clubMembers ul {
  list-style: none;
  padding: 0;
}

.clubMembers li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.member1 {
  background-color: #38b6ff;
}

.member2 {
  background-color: #ff4f4f;
}

/* Responsividade */
@media (max-width: 768px) {
  .section {
    width: 90%;
  }

  .books {
    flex-direction: column;
  }

  .bookCover {
    margin-bottom: 10px;
    width: 50px;
    height: 70px;
  }

  .clubInfo {
    flex-direction: column;
  }

  .clubBook,
  .clubMembers {
    text-align: center;
  }

  .clubMembers li {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .bookCover {
    width: 50px;
    height: 70px;
  }

  .icon {
    width: 15px;
    height: 15px;
  }
}
